
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Signika+Negative:wght@400;500;600&display=swap');

:root{
    --cor-principal: #3d1365;
    --cor-principal-transparente: #3d1365be;

    --cor-secundaria: #b9bada;

    --cor-de-texto: #20140e;
    /*Usada somente na cor do banner*/
    --cor-de-texto-secundario: #3d1365;
    /*Cor para as letras*/
    --cor-de-font-main: #f1e6fc;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--cor-principal);
    
}

@media only screen and (min-width: 769px) {
    .btn-menu {
        display: none;
        visibility: hidden;
    }
    .menu-mobile {
        display: none;
        visibility: hidden;
    }
}

.menu-mobile {
    width:270px;
    height:100%;
    background-color: var(--cor-principal);
    position: fixed;
    overflow: hidden;
    overflox-y: auto;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; 
    -moz-transition-duration: 0.3s;
    z-index: 999;
    flex-direction: row;
  }


.menu-mobile > ul > li {
    padding:  10px 30px;
    border-bottom: 1px solid var(--cor-secundaria);
    margin: 0 0px;
    color: var(--cor-de-font-main);
    font-size: 1.2rem;
    cursor: pointer;
    transition: linear 0.5s;
    
    -webkit-transition-duration: 0.5s; 
    -moz-transition-duration: 0.5s;
}
.menu-mobile > ul > li:hover {
background-color: #20140e;
}
  .btn-menu {
    width: 45px;
    height: 40px; 
    position: fixed ;
    left: 90%;
    top: 10px;
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; 
    -moz-transition-duration: 0.3s;
  }
  
  .btn-menu span {
    height: 3px;
    display: block;
    margin-bottom: 5px;
    background-color: #fff;
  }
  
  .menu-mobile {transform: translateX(-270px);}
  .btn-menu {transform: translateX(0);}
  
  .btn-menu-active .menu-mobile {
    transform: translateX(0);
  }
  
  .btn-menu-active .btn-menu {
    transform: translateX(280px);
    left: 0px;
  }


.navbar{
    position: fixed;
    display: inline-flex;
    justify-content: right;
    align-items: center;
    background-color: var(--cor-principal);
    height: 60px;
    width: 100%;
    border-bottom: var(--cor-secundaria) 1px solid;
    z-index: 999;
}

  
  @media only screen and (max-width: 768px) {

    .navbar {
      display: none;

    }
  }





.navbar > ul > span {
    padding:  10px 30px;
    margin: 0 0px;
    color: var(--cor-de-font-main);
}
@media only screen and (max-width: 1400px) {
    .navbar > ul > span {
        padding:  10px 20px;
        
    }


  }
.navbar > ul > span:hover {
    cursor: pointer;
    border-left: none;
    text-decoration: underline;
    

}

   
.fundo-principal{
    background: linear-gradient(-60.13deg, var(--cor-principal) 50%, var(--cor-secundaria) 50%);
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    align-items: center;
    
}

@media only screen and (max-width: 1400px) {

    .fundo-principal{
        background: linear-gradient(-60.13deg, var(--cor-principal) 55%,  var(--cor-secundaria) 55%);
        height: 100vh;
    }

}

@media only screen and (max-width: 768px) {
    .fundo-principal{
        
        background: var(--cor-principal);
        height: 90vh;
        grid-template-columns: 1fr;
        margin-top: 50px;
        grid-template-rows: 1.2fr auto auto;

    }
}

@media only screen and (max-width: 375px) {
    .fundo-principal{
        
        background: var(--cor-principal);
        height: 80vh;
        grid-template-columns: 1fr;
        margin-top: 30px;
        grid-template-rows: 1fr 1fr 1fr;

    }
    .area-principal > .fundo-principal > h1{
        font-size: 1em;
    }

}


.area-principal > .fundo-principal > h1{
    margin-bottom: 100px;
    color: var(--cor-de-texto);
    grid-column: 1;
    grid-row: 1;
    font-family: 'Signika Negative', sans-serif;
    font-size: 2em;
}
.area-principal > .fundo-principal > h1 > span{
    color: var(--cor-de-texto-secundario);

    grid-column: 1;
    font-family: 'Courgette', cursive;
}


.cvdown{
    display: flex;
    margin-top: 200px;
    border: none;
    border-radius: 30px;
    background-color:  var(--cor-principal);
    padding: 15px 30px;
    grid-column: 1;
    grid-row: 1;
    font-size: 1.5em;
    transition: linear 0.2s;
    text-decoration: none;
    color: var(--cor-de-font-main);
}
.cvdown:hover{
    
    color: white;
    border: solid 1px black;
    background-color: var(--cor-principal-transparente);
}

.cvdown:active{
    background-color: #ffffff;
    border: 1px solid black;
    color: black;
    
}
@media only screen and (max-width: 768px) {
    .area-principal > .fundo-principal > h1{
        grid-row: 2;
        color: var(--cor-de-font-main);
        
    }
    .area-principal > .fundo-principal > h1 > span{
        grid-row: 2;
        color: var(--cor-secundaria);
    } 
    .cvdown{
        grid-row: 3;
        margin-top: 10px;
        align-self: baseline;
        background-color: var(--cor-secundaria);
        color: var(--cor-de-texto);
    }
    .cvdown:active{
        grid-row: 2;
        margin-top: 90px;
        background-color: var(--cor-principal);
        color: var(--cor-de-texto-secundario);
    }
}
@media only screen and (max-width: 768px) {
    .cvdown{
        margin-top: 0;
        grid-row: 3;
        align-self: baseline;
        background-color: var(--cor-secundaria);
        color: var(--cor-de-texto);
    }    
}

.imagem-principal{
    align-content: start;
    justify-content: center;
    align-self: center;
    position: relative;
    max-width: 300px;
    width: 60%;
    max-height: 300px;
    height: 60%;
    grid-column: 2;
    border-radius: 100%;
    background-image: url(../img/FotoEu.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: solid 1px var(--cor-secundaria);
    grid-row: 1;
    animation: myAnim 4s ease 0s infinite normal none;
}
@media only screen and (max-width: 768px) {
    .imagem-principal{
        grid-row: 1;
        grid-column: 1;
        width: 45%;
        height: 100%;
    }
}
@media only screen and (max-width: 375px) {
    .imagem-principal{
        grid-row: 1;
        grid-column: 1;
        width: 45%;
    }
}
@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@keyframes myAnima {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

.sobremim{
    background-color: var(--cor-secundaria);
    height: 65vh;
    border-top: #20140e solid 1px;
    border-bottom: #20140e solid 1px;
    display: flex;
    justify-content: center;
}




.sobre-mim{
    background-color: var(--cor-secundaria);
    max-width: 1024px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    
}
@media only screen and (max-width: 768px) {
    .sobremim{
        background-color: var(--cor-secundaria);
        height: 100vh;
        border-top: #20140e solid 1px;
        border-bottom: #20140e solid 1px;
        display: flex;
        justify-content: center;
    }
    .sobre-mim{
        background-color: var(--cor-secundaria);
        max-width: 1024px;
        width: 100%;
        height: 100%;
        display: grid;
        grid-gap: 50px;
        grid-template-columns: 1fr;

        justify-items: center;
        align-items: center;
        
    }
}
.sobre-mim-imagem{
    background-image: url(../img/Chopper.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    animation: myAnim 10s ease 0s infinite normal none;
}
@media only screen and (max-width: 768px) {
    .sobre-mim-imagem{
        background-image: none;
        display: none;
        visibility: hidden;
    }
}
.sobre-mim-imagem:hover{
    background-image: url(../img/chopperhover.png);
    animation: myAnima 2s ease 0s 1 normal forwards;

}
.sobre-mim-imagem:active{
    background-image: url(../img/chopperclick.png);
    animation: myAnima 2s ease 0s 1 normal forwards;

}

.sobre-mim-texto > h2{
    color: var(--cor-de-texto);
    margin-bottom: 10px;
    font-size: 2em;
    font-family: "Courgette";
}
.sobre-mim-texto > span{
    color: var(--cor-de-texto);
    text-align: left;
    font-family: 'Signika negative';
    text-indent: 2em;
    margin-top: 10px;
}

@media only screen and (max-width: 768px) {
    .sobre-mim-texto{
        margin: 0 50px ;
    }
    .sobre-mim-texto > h2{
     
        
        color: var(--cor-de-texto);
        margin-bottom: 10px;
        font-size: 1.8em;
        font-family: "Courgette";
    }
    .sobre-mim-texto > span{
        color: var(--cor-de-texto);
        text-align: left;
        font-family: 'Signika negative';
        text-indent: 2em;
        margin-top: 10px;
        font-size: 0.9em;
    }
}

.habilidades{
    
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: 100vh;
    background-color: var(--cor-principal);
    border-bottom: 1px solid black;

}
@media only screen and (min-width: 1400px) {
    .habilidades{
        height: 80vh;
    }


  }

.habilidades-menu{
   
    width: 1024px;
    display: grid;
    grid-template-rows: 50px auto auto;
    grid-gap: 20px;
    justify-items: center;
    align-items: center; 
    
}
.habilidades-titulo{
    color: var(--cor-de-font-main);
    grid-row: 1;
    font-family: 'Courgette';
    font-size: 1.8rem;

    
}
.habilidades-conteiner{
    
    width: 50%;
    height: 300px;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    grid-gap: 5px;
    justify-items: center;
    align-items: center;
}
.quadro-habilidades{
    
    background-repeat: no-repeat;
    width: 90%;
    height: 90%;
    transition: ease 1s ;
    cursor: pointer;
}
.quadro-habilidades:hover{
    
    animation: HabilidadesAnim 10s ease-in-out 0s 1 normal forwards;
    width: 100%;
    height: 100%;
}
@keyframes HabilidadesAnim {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 50%;
	}

	10% {
		transform: rotate(8deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-10deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(10deg);
	}

	80% {
		transform: rotate(-8deg);
	}

	90% {
		transform: rotate(8deg);
	}
}
.quadro-habilidades:nth-child(1){
    background-image: url(https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-plain.svg);
}
.quadro-habilidades:nth-child(2){
    background-image: url(https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original.svg);
}

.quadro-habilidades:nth-child(3){
    background-image: url(https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original.svg);
}

.quadro-habilidades:nth-child(4){
    background-image: url(https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-original.svg);
}

.quadro-habilidades:nth-child(5){
    background-image: url(https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original.svg);
}

.quadro-habilidades:nth-child(6){
    background-image: url(https://raw.githubusercontent.com/devicons/devicon/master/icons/csharp/csharp-plain.svg);
}

.habilidades-conteiner-texto{
    width: 50%;
    color: var(--cor-de-font-main);
    font-size: 1.2em;
    justify-content: center;
    display: flex;
}

.projetos{
    display: flex;
    justify-content: center;
    height: 120vh;
    width: 100%;
    background-color: var(--cor-secundaria);
}
@media only screen and (min-width: 1400px) {
    .projetos{
        height: 80vh;
    }
    


  }
.meus-projetos{
    max-width: 1024px;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    display: grid;
    row-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 200px auto 10% 10%;
    justify-items: center;
     
}

@media only screen and (min-width: 1400px) {
    
    .meus-projetos{
        grid-template-rows: 10% 200px 200px auto 10%;
    }


  }
  @media only screen and (max-width: 768px) {
    .projetos{
        display: flex;
        justify-content: center;
        height: 110vh;
        width: 100%;
        background-color: var(--cor-secundaria);
    }
    .meus-projetos{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 150px 150px 150px 10% 10% 10%;
    }


    

    
}  
.projetos-titulo{
    grid-column: 2;
    grid-row: 1;
    color: var(--cor-de-texto);
    font-family: 'Courgette';
    font-size: 2em;
}
.quadros{
    display: grid;
    grid-template-rows: 80% 20%;
    justify-items: center;
    border-radius: 0 0 10px 10px;
    background-color:var(--cor-principal);
    cursor: pointer;
    border: solid 2px black;
    max-height: 200px;
    transition: all 0.7s;
}
.quadros:hover{
    transform: translateY(-10px);
}
#quadros-notactive{
    visibility: hidden;
    opacity: 0;
}




.quadros:nth-child(2){

    width: 80%;
    grid-column: 1;
    grid-row: 2;
}
.quadros:nth-child(3){
    
    width: 80%;
    grid-column: 2;
    grid-row: 2;
}
.quadros:nth-child(4){
    
    width: 80%;
    grid-column: 3;
    grid-row: 2;
}
.quadros:nth-child(5){
    width: 80%;
    grid-column: 1;
    grid-row: 3;
}
.quadros:nth-child(6){
    
    width: 80%;
    grid-column: 2;
    grid-row: 3;
}
.quadros:nth-child(7){
    
    width: 80%;
    grid-column: 3;
    grid-row: 3;
}
.descricao{
    color: var(--cor-de-font-main);
    cursor: pointer;
    align-self: center;
    font-size: 1.2em;
    font-weight: 600;
    font-family: 'Signika negative';
}
@media only screen and (max-width: 768px) {
    .projetos-titulo{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 1;

    }
    .quadros:nth-child(2){

        width: 80%;
        grid-column: 1;
        grid-row: 2;
    }
    .quadros:nth-child(3){
        
        width: 80%;
        grid-column: 2;
        grid-row: 2;
    }
    .quadros:nth-child(4){
        
        width: 80%;
        grid-column: 1;
        grid-row: 3;
    }
    .quadros:nth-child(5){
        width: 80%;
        grid-column: 2;
        grid-row: 3;
    }
    .quadros:nth-child(6){
        
        width: 80%;
        grid-column: 1;
        grid-row: 4;
    }
    .quadros:nth-child(7){
        
        width: 80%;
        grid-column: 2;
        grid-row: 4;
    }

.descricao{

    font-size: .9em;

}
}

.ver-mais{
    background-color: var(--cor-secundaria);
    
    grid-row: 3;
    grid-column: 2;
    padding: 0 20px;
    border: solid 0.5px;
    border-radius: 15px;
    cursor: pointer;
    width: 70%;
    transition: linear 0.2s;
    max-height: 35px;
    font-family: 'Signika negative';
    font-size: 1.1em;
}
.ver-mais:hover{
    background-color: var(--cor-principal-transparente);
    color: var(--cor-de-font-main);
    border-color: black;
    font-weight: 600;
}
.ver-maisactive{
    opacity: 0;
    visibility: hidden;
    
}


.ver-menosnotactive{
    opacity: 0;
    visibility: hidden;
}
.ver-menosactive{
    background-color: var(--cor-secundaria);
    grid-row: 4;
    grid-column: 2;
    padding: 0 20px;
    border: solid 0.5px;
    border-radius: 15px;
    cursor: pointer;
    width: 70%;
    max-height: 35px;
    font-family: 'Signika negative';
    font-size: 1.1em;
    transition: linear 0.2s;
}

.ver-menosactive:hover{
    background-color: var(--cor-principal-transparente);
    color: var(--cor-de-font-main);
    border-color: black;
    font-weight: 600;
}

@media only screen and (max-width: 768px) {

    .ver-mais{
        grid-row: 4;
        grid-column-start: 1;
        grid-column-end: 3;
        margin: 0 auto;
    }
    .ver-menosactive{
        grid-row: 5;
        grid-column-start: 1;
        grid-column-end: 3;

    }

}

.githubredirect{
    color: var(--cor-de-texto);
    font-size: 1.2em;
    grid-column: 2;
    grid-row: 4;
    transition: linear 0.2s;
}

.githubredirect:hover{
    color: var(--cor-de-texto-secundario);
}
.githubredirectactive{
    color: var(--cor-de-texto);
    font-size: 1.2em;
    grid-column: 2;
    grid-row: 5;
    transition: all 0.4s;
}

@media only screen and (max-width: 768px) {

    .githubredirect{

        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 5;

    }
    
    .githubredirect:hover{
        color: var(--cor-de-texto-secundario);
    }
    .githubredirectactive{


        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 6;

    }
    

}


.imagem-1{
    background-image: url(../img/Petcher.PNG);

}

.imagem-2{
    background-image: url(../img/Cobra.jpeg);

}
.imagem-3{
    background-image: url(../img/Disney.jpeg);
    
}
.imagem-4{
    background-image: url(../img/Countdown.PNG);    

}

.imagem-5{
    background-image: url(../img/Negociacoes.PNG);

}
.imagem-6{
    
    
}
.imagem-1, .imagem-2, .imagem-3, .imagem-4, .imagem-5, .imagem-6{
    border-bottom: 2px solid black;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
}

.forms{
    display: grid;
    grid-row: 10% auto;
}
.forms > h2{
    color: var(--cor-de-font-main);
    font-family: 'Courgette';
    font-size: 2em;
    margin: 0 auto;
    display: inline-block;
    margin-top: 10px;
}


.formulario { 
    max-width:480px; 
    margin:50px auto; 
}
.campo {
  color: var(--cor-de-texto);
  font-family: 'open_sansregular';
  font-size: 16px;
  border-radius: 3px;
  line-height: 20px;
  background-color: var(--cor-secundaria);
  border: 2px solid var(--cor-principal);
  transition: all 0.3s;
  padding: 11px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}
.campo:focus { 
    border: 2px solid var(--cor-de-texto);
    color: var(var(--cor-de-texto));
}
textarea {
  
  height: 150px;
  line-height: 150%;
  resize:vertical;
}
.botao {
  font-family: 'open_sansregular';
  width: 100%;
  background:#10ADDD;
  color: #ffffff;
  border-radius:5px;
  border:0;
  cursor:pointer;
  font-size:22px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
.botao:hover { background:#414141; }

@media only screen and (max-width: 375px) {
    .formulario { 
        width:370px; 
        margin:50px auto; 
    }
}










.go-top{
    top: 90%;
    left: 95%;
    display: flex;
    position: fixed;
    border-radius: 5px;
    border: 1px solid black;
    background-color: var(--cor-secundaria);
    padding: 10px;
    transition: 0.7s all;
    color: var(--cor-de-texto);
    font-size: 1.2em;
    cursor: pointer;
}
@media only screen and (max-width: 768px) {
    .go-top{
        top: 90%;
        left: 85%;
    }
}

.go-top:hover{
    
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
    border: 1px solid black;
    font-size: 1.2em;
    transform: translateX(2px)  translateY(-5px);
}
.go-top:active{
    background-color: var(--cor-de-texto-secundario);
    transition: 0.1s;
}


