@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Signika+Negative:wght@400;500;600&display=swap');

:root{
    --cor-principal: #6c584d;
    --cor-principal-transparente: #6c584dc0;
    --cor-secundaria: #f0dbaa;
    --cor-de-texto: #20140e;
    --cor-de-texto-secundario: #a31502;


}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--cor-principal);
    
}
.navbar{
    position: fixed;
    display: inline-flex;
    justify-content: right;
    align-items: center;
    background-color: var(--cor-principal-transparente);
    height: 60px;
    width: 100%;
    border-bottom: var(--cor-secundaria) 1px solid;
    z-index: 999;
}
@media only screen and (max-width: 768px) {
    .navbar{
       visibility: hidden;
    }
}




.navbar > ul > span {
    padding:  10px 30px;
    margin: 0 0px;
    color: var(--cor-secundaria);
}
@media only screen and (max-width: 1400px) {
    .navbar > ul > span {
        padding:  10px 20px;
        
    }


  }
.navbar > ul > span:hover {
    cursor: pointer;
    border-left: none;
    text-decoration: underline;
    

}
.menu-hamburguer{
    visibility: hidden;        
}   
@media only screen and (max-width: 768px) {

    .container{ 
        position: fixed;
        width: 120px;
        background-color: #20140e;

        
    }
    .active .btn{
        width: 200px;
        height: 100vh;
        background-color: #a31502   ;
    }
       .btn {
        
        width: 60px;
        height: 60px;
        cursor: pointer;
        background-color: #ffffff;

       }
       
       
}
.fundo-principal{
    background: linear-gradient(-60.13deg, #6c584d 50%,  #f0dbaa 50%);
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    align-items: center;
    
}

@media only screen and (max-width: 1400px) {

    .fundo-principal{
        background: linear-gradient(-60.13deg, #6c584d 55%,  #f0dbaa 55%);
        height: 100vh;

    
    }

}

@media only screen and (max-width: 768px) {
    .fundo-principal{
        background: #6c584d;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;

    }
}


.area-principal > .fundo-principal > h1{
    margin-bottom: 100px;
    color: var(--cor-de-texto);
    grid-column: 1;
    grid-row: 1;
    font-family: 'Signika Negative', sans-serif;
    font-size: 2em;
}
.area-principal > .fundo-principal > h1 > span{
    color: var(--cor-de-texto-secundario);

    grid-column: 1;
    font-family: 'Courgette', cursive;
}


.cvdown{
    display: flex;
    margin-top: 200px;
    border: none;
    border-radius: 30px;
    background-color:  var(--cor-principal);
    padding: 15px 30px;
    grid-column: 1;
    grid-row: 1;
    font-size: 1.5em;
    transition: linear 0.2s;
    text-decoration: none;
    color: var(--cor-secundaria);
}
.cvdown:hover{
    background-color: var();
    color: white;
    border: solid 1px black;
    background-color: var(--cor-de-texto-secundario);
}

.cvdown:active{
    background-color: #ffffff;
    border: 1px solid black;
    color: black;
    
}
@media only screen and (max-width: 768px) {
    .area-principal > .fundo-principal > h1{
        grid-row: 2;
        
    }
    .area-principal > .fundo-principal > h1 > span{
        grid-row: 2;
        color: var(--cor-secundaria);
    } 
    .cvdown{
        grid-row: 2;
        margin-top: 100px;
        background-color: var(--cor-secundaria);
        color: var(--cor-de-texto);
    }
    .cvdown:active{
        grid-row: 2;
        margin-top: 90px;
        background-color: var(--cor-principal);
        color: var(--cor-de-texto-secundario);
    }
}

.imagem-principal{
    align-content: start;
    justify-content: center;
    align-self: center;
    position: relative;
    background-color: aqua;
    max-width: 300px;
    width: 60%;
    max-height: 300px;
    height: 60%;
    grid-column: 2;
    border-radius: 100%;
    background-image: url(../img/Eufoto.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: solid 1px var(--cor-secundaria);
    grid-row: 1;
    animation: myAnim 4s ease 0s infinite normal none;
}
@media only screen and (max-width: 768px) {
    .imagem-principal{
        grid-row: 1;
        grid-column: 1;
        width: 80%;
        height: 100%;
    }
}
@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@keyframes myAnima {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

.sobremim{
    background-color: var(--cor-secundaria);
    height: 65vh;
    border-top: #20140e solid 1px;
    border-bottom: #20140e solid 1px;
    display: flex;
    justify-content: center;
}




.sobre-mim{
    background-color: var(--cor-secundaria);
    max-width: 1024px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    
}
@media only screen and (max-width: 768px) {
    .sobremim{
        background-color: var(--cor-secundaria);
        height: 100vh;
        border-top: #20140e solid 1px;
        border-bottom: #20140e solid 1px;
        display: flex;
        justify-content: center;
    }
    .sobre-mim{
        background-color: var(--cor-secundaria);
        max-width: 1024px;
        width: 100%;
        height: 100%;
        display: grid;
        grid-gap: 50px;
        grid-template-columns: 1fr;

        justify-items: center;
        align-items: center;
        
    }
}
.sobre-mim-imagem{
    background-image: url(../img/Chopper.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    animation: myAnim 10s ease 0s infinite normal none;
}
@media only screen and (max-width: 768px) {
    .sobre-mim-imagem{
        background-image: none;
        display: none;
        visibility: hidden;
    }
}
.sobre-mim-imagem:hover{
    background-image: url(../img/chopperhover.png);
    animation: myAnima 2s ease 0s 1 normal forwards;

}
.sobre-mim-imagem:active{
    background-image: url(../img/chopperclick.png);
    animation: myAnima 2s ease 0s 1 normal forwards;

}

.sobre-mim-texto > h2{
    color: var(--cor-de-texto);
    margin-bottom: 10px;
    font-size: 2em;
    font-family: "Courgette";
}
.sobre-mim-texto > span{
    color: var(--cor-de-texto);
    text-align: left;
    font-family: 'Signika negative';
    text-indent: 2em;
    margin-top: 10px;
}

@media only screen and (max-width: 768px) {
    .sobre-mim-texto{
        margin: 0 50px ;
    }
    .sobre-mim-texto > h2{
     
        
        color: var(--cor-de-texto);
        margin-bottom: 10px;
        font-size: 1.8em;
        font-family: "Courgette";
    }
    .sobre-mim-texto > span{
        color: var(--cor-de-texto);
        text-align: left;
        font-family: 'Signika negative';
        text-indent: 2em;
        margin-top: 10px;
        font-size: 0.9em;
    }
}

.habilidades{
    
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: 100vh;
    background-color: var(--cor-principal);
    border-bottom: 1px solid black;

}
@media only screen and (min-width: 1400px) {
    .habilidades{
        height: 80vh;
    }


  }

.habilidades-menu{
   
    width: 1024px;
    display: grid;
    grid-template-rows: 50px auto auto;
    grid-gap: 20px;
    justify-items: center;
    align-items: center; 
    
}
.habilidades-titulo{
    color: var(--cor-secundaria);
    grid-row: 1;
    font-family: 'Courgette';
    font-size: 1.8rem;

    
}
.habilidades-conteiner{
    
    width: 50%;
    height: 300px;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    grid-gap: 5px;
    justify-items: center;
    align-items: center;
}
.quadro-habilidades{
    
    background-repeat: no-repeat;
    width: 90%;
    height: 90%;
    transition: ease 1s ;
    cursor: pointer;
}
.quadro-habilidades:hover{
    
    animation: HabilidadesAnim 10s ease-in-out 0s 1 normal forwards;
    width: 100%;
    height: 100%;
}
@keyframes HabilidadesAnim {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 50%;
	}

	10% {
		transform: rotate(8deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-10deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(10deg);
	}

	80% {
		transform: rotate(-8deg);
	}

	90% {
		transform: rotate(8deg);
	}
}
.quadro-habilidades:nth-child(1){
    background-image: url(https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-plain.svg);
}
.quadro-habilidades:nth-child(2){
    background-image: url(https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original.svg);
}

.quadro-habilidades:nth-child(3){
    background-image: url(https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original.svg);
}

.quadro-habilidades:nth-child(4){
    background-image: url(https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-original.svg);
}

.quadro-habilidades:nth-child(5){
    background-image: url(https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original.svg);
}

.quadro-habilidades:nth-child(6){
    background-image: url(https://raw.githubusercontent.com/devicons/devicon/master/icons/csharp/csharp-plain.svg);
}

.habilidades-conteiner-texto{
    width: 50%;
    color: var(--cor-secundaria);
    font-size: 1.2em;
    justify-content: center;
    display: flex;
}

.projetos{
    display: flex;
    justify-content: center;
    height: 120vh;
    width: 100%;
    background-color: var(--cor-secundaria);
}
@media only screen and (min-width: 1400px) {
    .projetos{
        height: 70vh;
    }
    


  }
.meus-projetos{
    max-width: 1024px;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    display: grid;
    row-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 200px auto 10% 10%;
    justify-items: center;
     
}

@media only screen and (min-width: 1400px) {
    
    .meus-projetos{
        grid-template-rows: 10% 200px 200px auto 10%;
    }


  }
  @media only screen and (max-width: 768px) {
    .projetos{
        display: flex;
        justify-content: center;
        height: 140vh;
        width: 100%;
        background-color: var(--cor-secundaria);
    }
    .meus-projetos{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 150px 150px 150px 10% 10% 10%;
    }


    

    
}  
.projetos-titulo{
    grid-column: 2;
    grid-row: 1;
    color: var(--cor-de-texto);
    font-family: 'Courgette';
    font-size: 2em;
}
.quadros{
    display: grid;
    grid-template-rows: 80% 20%;
    justify-items: center;
    border-radius: 0 0 10px 10px;
    background-color:var(--cor-principal);
    
    border: solid 2px black;
    max-height: 200px;
    transition: all 0.5s;
}
#quadros-notactive{
    visibility: hidden;
    opacity: 0;
}




.quadros:nth-child(2){

    width: 80%;
    grid-column: 1;
    grid-row: 2;
}
.quadros:nth-child(3){
    
    width: 80%;
    grid-column: 2;
    grid-row: 2;
}
.quadros:nth-child(4){
    
    width: 80%;
    grid-column: 3;
    grid-row: 2;
}
.quadros:nth-child(5){
    width: 80%;
    grid-column: 1;
    grid-row: 3;
}
.quadros:nth-child(6){
    
    width: 80%;
    grid-column: 2;
    grid-row: 3;
}
.quadros:nth-child(7){
    
    width: 80%;
    grid-column: 3;
    grid-row: 3;
}
.descricao{
    color: var(--cor-secundaria);
    cursor: pointer;
    align-self: center;
    font-size: 1.2em;
    font-weight: 600;
    font-family: 'Signika negative';
}
@media only screen and (max-width: 768px) {
    .projetos-titulo{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 1;

    }
    .quadros:nth-child(2){

        width: 80%;
        grid-column: 1;
        grid-row: 2;
    }
    .quadros:nth-child(3){
        
        width: 80%;
        grid-column: 2;
        grid-row: 2;
    }
    .quadros:nth-child(4){
        
        width: 80%;
        grid-column: 1;
        grid-row: 3;
    }
    .quadros:nth-child(5){
        width: 80%;
        grid-column: 2;
        grid-row: 3;
    }
    .quadros:nth-child(6){
        
        width: 80%;
        grid-column: 1;
        grid-row: 4;
    }
    .quadros:nth-child(7){
        
        width: 80%;
        grid-column: 2;
        grid-row: 4;
    }

.descricao{

    font-size: .9em;

}
}

.ver-mais{
    background-color: #74534367;
    grid-row: 3;
    grid-column: 2;
    padding: 0 20px;
    border: solid 0.5px;
    border-radius: 15px;
    cursor: pointer;
    width: 70%;
    transition: linear 0.2s;
    max-height: 35px;
    font-family: 'Signika negative';
    font-size: 1.1em;
}
.ver-mais:hover{
    background-color: #74534367;
    color: var(--cor-de-texto-secundario);
    border-color: black;
    font-weight: 600;
}
.ver-maisactive{
    opacity: 0;
    visibility: hidden;
}


.ver-menosnotactive{
    opacity: 0;
    visibility: hidden;
}
.ver-menosactive{
    background-color: var(--cor-secundaria);
    grid-row: 4;
    grid-column: 2;
    padding: 0 20px;
    border: solid 0.5px;
    border-radius: 15px;
    cursor: pointer;
    width: 70%;
    max-height: 35px;
    font-family: 'Signika negative';
    font-size: 1.1em;
}

.ver-menosactive:hover{
    background-color: #74534367;
    color: var(--cor-de-texto-secundario);
    border-color: black;
    font-weight: 600;
}

@media only screen and (max-width: 768px) {

    .ver-mais{
        grid-row: 4;
        grid-column-start: 1;
        grid-column-end: 3;
        margin: 0 auto;
    }
    .ver-menosactive{
        grid-row: 5;
        grid-column-start: 1;
        grid-column-end: 3;

    }

}

.githubredirect{
    color: var(--cor-de-texto);
    font-size: 1.2em;
    grid-column: 2;
    grid-row: 4;
    transition: linear 0.2s;
}

.githubredirect:hover{
    color: var(--cor-de-texto-secundario);
}
.githubredirectactive{
    color: var(--cor-de-texto);
    font-size: 1.2em;
    grid-column: 2;
    grid-row: 5;
    transition: all 0.4s;
}

@media only screen and (max-width: 768px) {

    .githubredirect{

        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 5;

    }
    
    .githubredirect:hover{
        color: var(--cor-de-texto-secundario);
    }
    .githubredirectactive{


        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 6;

    }
    

}


.imagem-1{
    background-image: url(../img/Petcher.jpeg);

}

.imagem-2{
    background-image: url(../img/Cobra.jpeg);

}
.imagem-3{
    background-image: url(../img/Disney.jpeg);
    
}
.imagem-4{
    background-image: url(../img/Petcher.jpeg);

}

.imagem-5{
    background-image: url(../img/Cobra.jpeg);

}
.imagem-6{
    background-image: url(../img/Disney.jpeg);
    
}
.imagem-1, .imagem-2, .imagem-3, .imagem-4, .imagem-5, .imagem-6{
    border-bottom: 1px solid black;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
}

footer{
    height: 20vh;
    
}